nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 7%;

    background: rgba(15, 36, 85, 0.95);
    backdrop-filter: blur(10px);

    box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.logo {
    color: #ffd52f;
    font-size: 25px;
    font-weight: 900;
}

.logo span {
    color: #ff4d4d;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

nav a:hover {
    color: #ffd52f;
}

